## 기본적인 OS 관련 파일 ##
.DS_Store
Thumbs.db

## Spring Boot 환경 변수 파일 ##
src/main/resources/application-*.yml
.env

## 로그 파일 ##
*.log
spring.log

## 빌드 디렉토리 ##
/build/
/out/
/.gradle/
*.class

## Gradle 캐시 ##
.gradle/
!gradle/wrapper/gradle-wrapper.properties

## JAR 및 WAR 파일 ##
*.jar
*.war

## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr
out/

## Lombok ##
lombok.config

## MacOS ##
.DS_Store

## 기타 ##
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.pyc
*.pyo
*.d
*.o
*.obj
*.dll
*.so
*.exe
.vscode/