@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Pretendard-Regular';
    margin: 0;
    cursor: default;
}

nav {
    display: flex;
    background-color: #FCFFBF;
    width: 1460px;
    height: 53px;
    border-radius: 100px;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.215);
}

.nav-bar {
    display: flex;
    margin-top: 12px;
}

.nav-btns {
    margin-left: 60px;
}

.nav-btns a {
    margin-right: 50px;
    cursor: pointer;
}

.nav-logo {
    margin-left: 240px;
}

.nav-login {
    margin-left: 520px;
    cursor: pointer;
}

.nav-login a, .nav-login img {
    vertical-align: middle;
}

.nav-login a, .nav-login img {
    vertical-align: middle;
}

.nav-btns a, .nav-login {
    transition: 0.3s;
    text-decoration: none;
    color: #2B4C13;
}

.nav-btns a:hover, .nav-login:hover {
    color: #00B2FF;
}




.main-first-section {
    text-align: center;
    font-size: 90px;
    font-family: 'LOTTERIACHAB';
    color: #FCFFBF;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.215);
    margin-top: 180px;
}

.welcome {
    animation: 2s welcome ease-out;
}

@keyframes welcome {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.main-second-section {
    width: 87%;
    margin-top: 250px;
}

.main-second-section h2 {
    font-size: 26px;
    color: #2B4C13;
    text-align: center;
}

.container{
    position:relative;
    width: 100%;
    height: 400px;
    display: grid;
    overflow: hidden;
}

.btns{
    display: flex;
    width: calc(261px*16);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-261px*8));
    }
}

.btns button{
    border: none;
    margin-right: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 261px;
    height: 354px;
    margin-top: 22px;
    padding-left: 19px;
    padding-top: 25px;
    border-radius: 20px;
    transition: 0.4s;
    font-family: 'Pretendard';
    cursor: pointer;
}

.btns button:hover{
    transform: scale(0.94);
}

.large{
    font-size: 26px;
    font-weight: bold;
}

.small{
    font-size: 18px;
    margin-top: 13px;
}

.btn1 {
    background-position:bottom;
    color: #FCDCC5;
}

.btn2 {
    background-position:bottom;
    color: #2F4C10;
}

.btn3, .btn5, .btn7, .btn8 {
    background-image: linear-gradient(to bottom, #EF6A3F 40%, #F5DBDC 70%);
    color: #FDE0E3;
}

.btn4 {
    background-position:bottom;
    color: #EF6A3F;
}

.btn6 {
    background-position:bottom;
    color: #FCDCC5;
}

.main-thrid-section {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}

.for-who {
    margin-right: 120px;
}

.for-who h1{
    font-family: 'LOTTERIACHAB';
    font-size: 65px;
    font-weight: lighter;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.408);
}

.for-who p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.main-fourth-section {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, #499FF2 80%, #ffffff 100%);
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;
}

.caution h1 {
    font-family: 'LOTTERIACHAB';
    font-size: 65px;
    font-weight: lighter;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.408);
}

.caution p {
    font-size: 20px;
    line-height: 30px;
}